In [14]:
#1] Create a python program to sort the given list of tuples based on integer 
#value using a lambda function. 
data=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534),
('Virat Kohli', 24936)]

In [17]:
sorted_data = sorted(data, key=lambda x: x[1])
for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [2]:
#2]Write a Python Program to find the squares of all the numbers in the given 
#list of integers using lambda and map functions.

l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#3]Write a python program to convert the given list of integers into a tuple of 
#strings. Use map and lambda functions

#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [11]:
l2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1=list(map(lambda x:str(x),l2))

In [12]:
list1

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [15]:
t=tuple(list1)
print(t)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [16]:
#4]  Write a python program using reduce function to compute the product of a
#list containing numbers from 1 to 25

In [5]:
l=[]
i=1
while i<=25:
    l.append(i)
    i+=1
print(l)

from functools import reduce
list2=reduce(lambda x,y:x*y,l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [52]:
print(list2)

15511210043330985984000000

In [12]:
#5]Write a python program to filter the numbers in a given list that are 
#divisible by 2 and 3 using the filter function.


l3=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list3=[]
list3=list(filter(lambda x : x%2==0 and x%3==0 , l3))
print(list3)

[6, 60, 90, 120]

In [43]:
#6] Write a python program to find palindromes in the given list of strings 
#using lambda and filter function.

string=['python', 'php', 'aba', 'radar', 'level']

def is_palindrome(string):
    return string == string[::-1]

In [37]:
palindrom=list(filter(lambda x:is_palindrome(x),string))

In [38]:
print("palindromes:",palindrom)

palindromes: ['php', 'aba', 'radar', 'level']